{% if tem_cor %}
    <div class="d-flex mb-4">
    {% if cor_selecionada %}
    <strong class="text-dark mr-3">Cor selecionada: {{ cor_selecionada.nome }}</strong>
    {% else %}
    <strong class="text-dark mr-3">Cor:</strong>
    {% endif %}
    <form>
        {% for cor in cores %}
        <div class="custom-control custom-radio custom-control-inline" style="padding-left: 0; margin-right: 0.2rem; ">
            <a style="cursor: pointer;" hx-get="{% url 'produto_htmx' produto.id cor.id %}" hx-target="#tamanhos"
                hx-trigger="click">
                <i class="fa-solid fa-circle" style="color: {{ cor.codigo }};"></i>
            </a>
        </div>
        {% endfor %}
    </form>
    </div>
{% endif %}

<div class="d-flex mb-3" >
{% if tem_tamanho %}
    {% if tamanhos %}
        <strong class="text-dark mr-3">Tamanhos:</strong>
        <form>
            {% for tamanho in tamanhos %}
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="size-1" name="size">
                <label class="custom-control-label" for="size-1">{{ tamanho }}</label>
            </div>
            {% endfor %}
        </form>
    {% endif %}
{% endif %}
</div>
